<%#= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "chartkick" %>
<% title 'Boiler' %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boiler.name %>
</p>

<p>
  <b>When:</b>
  <%= Time.now.strftime("%d.%m.%Y %H:%M") %>
</p>

<p>
	<b>State:</b>
	<%= @boiler.get_value_with_path('Boiler/Boiler') %>
</p>

<table>
  <thead>
	<tr>
		<th>Path</th>
		<th>Value</th>
	</tr>
  </thead>
  <tbody>
	<% @boiler.mappings.select{|m| m.important}.each do |mapping| %>
      <tr>
	    <td><%= mapping.path %></td>
	    <td><%= mapping.get_formatted_value %></td>
	  </tr>
	<% end %>
  </tbody>
</table>
<div id='boilerchart' style="height: 700px; width: 900px;"></div>
<%#= line_chart @datalogs.map {|d| [d.created_at, JSON.parse(d.dataset)['Boiler/Counters/Total consumed'].to_i]},
    library: {title: {text: "Wood pellet consumption (kg)"}} %>
<%#= line_chart @datalogs.map {|d| [d.created_at, JSON.parse(d.dataset)['Buffer/Buffer/demanded output/Charging Status'].to_i]}, library: {title: {text: "Charge status (%)"}} %>
<br />
<%= link_to 'Edit', edit_boiler_path(@boiler) %> |
<%= link_to 'Back', boilers_path %>

<script>
$(function () { 
    $('#boilerchart').highcharts({
        chart: {
            type: 'scatter'
        },
        title: {
            text: '<%= @boiler.name %>'
        },
        plotOptions: {
        	series: {
        		turboThreshold: 0
        	}
        },
        tooltip: {
        	formatter: function() {
                    return  Highcharts.dateFormat('%Y.%m.%d %H:%M', new Date(this.x)) +
                    'Z<br/>' + this.y + ' ' + this.series.options.unit + 
                    (this.point.bs ? ' - ' + this.point.bs : '');
                }
        },
        rangeSelector: {
        	enabled: true,
			buttons: [{
	            type: 'hour',
	            count: 6,
	            text: '6h'
	    	}, {
	            type: 'hour',
	            count: 12,
	            text: '12h'
	    	}, {
	            type: 'day',
	            count: 1,
	            text: '1d'
	    	}, {
	            type: 'day',
	            count: 2,
	            text: '2d'
	    	}],
	    	inputEnabled: false
        },
        scrollbar: {
        	enabled: true
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
                month: '%e %b',
                year: '%b'
           },
           pointInterval: 24 * 3600 * 1000
        },
        yAxis: {
            title: {
                text: '% - C'
            },
            Xmax: 160
        },
        series: [
          {
            name: "Boiler <%= @boiler.shortname = 'PEK45' ? 'return' : 'bottom' %> (C)",
            data: <%= @series[:boiler_bottom_temp].to_json.html_safe %>,
            unit: 'C',
            color: 'gray',
            marker: {
              enabled: false
            },
            enableMouseTracking: false,
            lineWidth: '1px',
            dashStyle: 'dot'
          },
          {
            name: 'Flue gas (C)',
            data: <%= @series[:boiler_flue_gas_temp].to_json.html_safe %>,
            unit: 'C',
            color: 'pink',
            marker: {
              enabled: false
            },
            enableMouseTracking: false,
            lineWidth: '1px'
          },
          {
            name: 'Buffer charge (%)',
            data: <%= @series[:buffer_charge].to_json.html_safe %>,
            unit: '%'
          },
          {
            name: 'Buffer top (C)',
            data: <%= @series[:buffer_top_temp].to_json.html_safe %>,
            unit: 'C',
            color: 'olive',
            marker: {
              enabled: false
            },
            enableMouseTracking: false,
            lineWidth: '2px'
          },
          {
            name: 'Buffer bottom (C)',
            data: <%= @series[:buffer_bottom_temp].to_json.html_safe %>,
            unit: 'C',
            color: 'maroon',
            marker: {
              enabled: false
            },
            enableMouseTracking: false,
            lineWidth: '2px'
          }
        ]
    });
});
</script>
