<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% title 'Boiler' %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boiler.name %>
</p>

<p>
  <b>API:</b>
  <%= @boiler.api %>
</p>

<p>
	<b>State:</b>
	<%= @boiler.get_value_with_path('Boiler/Boiler') %>
</p>

<table>
  <thead>
	<tr>
		<th>Path</th>
		<th>Value</th>
	</tr>
  </thead>
  <tbody>
	<% @boiler.mappings.select{|m| m.important}.each do |mapping| %>
      <tr>
	    <td><%= mapping.path %></td>
	    <td><%= mapping.get_formatted_value %></td>
	  </tr>
	<% end %>
  </tbody>
</table>
<% start_date = 2.week.ago.utc %>
<%#= line_chart @boiler.datalogs.group("DAY(created_at)").count %>
<%= line_chart @boiler.datalogs.where('created_at > ?', start_date).map {|d| [d.created_at, JSON.parse(d.dataset)['Boiler/Counters/Total consumed']]},
    library: {title: "Wood pellet consumption (kg)"} %>
<%= line_chart @boiler.datalogs.where('created_at > ?', start_date).map {|d| [d.created_at, JSON.parse(d.dataset)['Buffer/Buffer/demanded output/Charging Status']]},
    library: {title: "Charge status (%)"} %>
<br />
<%= link_to 'Edit', edit_boiler_path(@boiler) %> |
<%= link_to 'Back', boilers_path %>
