<% title "Datalogs" %>
<p id="notice"><%= notice %></p>

<h1>Listing Datalogs</h1>

<table>
  <thead>
    <tr>
      <th>When</th>
      <th>Boiler</th>
      <th>Values</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datalogs.each do |datalog| %>
      <tr>
        <td><%= datalog.updated_at.strftime('%F %RZ') %></td>
        <td><%= datalog.boiler.shortname %></td>
        <td>
          <% JSON.parse(datalog.dataset).each do |path, value| %>
            <div>
              <%= path %>:
              <%= value %>
            </div>
          <% end %>
    	</td>
        <td><%= datalog.errorset %></td>
        <td><%= link_to 'Show', datalog %></td>
        <td><%= link_to 'Edit', edit_datalog_path(datalog) %></td>
        <td><%= link_to 'Destroy', datalog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
