<p id="notice"><%= notice %></p>

<h1>Listing Datalogs</h1>

<table>
  <thead>
    <tr>
      <th>Boiler</th>
      <th>Values</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datalogs.each do |datalog| %>
      <tr>
        <td><%= datalog.boiler %></td>
        <td><%= datalog.values %></td>
        <td><%= link_to 'Show', datalog %></td>
        <td><%= link_to 'Edit', edit_datalog_path(datalog) %></td>
        <td><%= link_to 'Destroy', datalog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datalog', new_datalog_path %>
