<% title "Datalog" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Boiler:</strong>
  <%= @datalog.boiler %>
</p>

<p>
  <strong>Data:</strong>
  <%= @datalog.dataset %>
</p>

<p>
  <strong>Errors:</strong>
  <%= @datalog.errorset %>
</p>

<%= link_to 'Edit', edit_datalog_path(@datalog) %> |
<%= link_to 'Back', datalogs_path %>
