<%= form_for([@boiler, @var]) do |f| %>
  <% if @var.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@var.errors.count, "error") %> prohibited this var from being saved:</h2>

      <ul>
      <% @var.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <% Mapping.all.each do |mapping| %>
      <div>
      	<%= check_box_tag "var[mapping_ids][]", mapping.id, @var.mappings.include?(mapping) %>
        <%= mapping.path %>
      </div>
    <% end %>
  </div>
  <div class="field">
  	
  </div>
  <div class="field">
    <%= f.label :last_set_date %><br>
    <%= @var.last_set_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
