<% title "Var" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Boiler:</strong>
  <%= @var.boiler.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @var.name %>
</p>

<p>
  <strong>Mappings:</strong>
  <%= @var.paths.join(', ') %>
</p>

<p>
  <strong>Actual:</strong>
  <% @var.get_varset_dataset.each do |k, v| %>
    <div>
      <%= "#{k}: #{v}" %>
    </div>
  <% end %>
</p>

<p>
  <strong>Last Set Date:</strong>
  <%= @var.last_set_date %>
</p>

<%= link_to 'Edit', edit_boiler_var_path(@boiler, @var) %> |
<%= link_to 'Back', boiler_vars_path(@boiler) %>
