<% title "Mappings" %>
<p id="notice"><%= notice %></p>

<h1>Listing Mappings</h1>

<table>
  <thead>
    <tr>
      <th>Path</th>
      <th>Uri</th>
      <th>Datatype</th>
      <th>Important</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mappings.each do |mapping| %>
      <tr>
        <td><%= mapping.path %></td>
        <td><%= mapping.uri %></td>
        <td><%= mapping.datatype %></td>
        <td><%= mapping.important %></td>
        <td><%= link_to 'Show', boiler_mapping_path(@boiler, mapping) %></td>
        <td><%= link_to 'Edit', edit_boiler_mapping_path(@boiler, mapping) %></td>
        <td><%= link_to 'Destroy', [@boiler, mapping], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mapping', new_boiler_mapping_path(@boiler) %>
